<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Developer Skills</title>
</head>
<body>
    <a href="/">Home Page</a> 
    
    <h1>Skills</h1>

    <a href="/skills/new">Add a New Dev Skill</a>
    <ul>
        <% skills.forEach(function(sk) { %>
          <li>
            <a href="/skills/<%= sk.id %>"><%= sk.skills %></a>
              - 
            <%= sk.complete ? 'complete' : 'not complete' %>

          </li>
        <% }); %>
      </ul>
</body>
</html>